table {border: solid;}

.andereMaand {background-color: lightgray;}

.hoofding {
    background: rgb(170,170,200);
}

.specialeDag {
    background: rgb(250,120,120);
}

.dag {
    color: rgb(200,190,240);
    background: rgb(35,37,70);
}

th {
    text-align: center;}

tr, td {
    border: 1px dotted;
    padding: 2px;
    text-align: left;
}

td:first-child, td:last-child {
    background-color: rgb(255, 220, 220);
}
